Repository yuricavalini/igniteteams: changes, and which lint-staged commands are due for each by the changed paths.
All: npx organize-imports-cli, npx prettier --write, npx eslint --fix

chore(igniteteams): add husky
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: npx prettier --write

chore(igniteteams): add organize-imports-cli
  package-lock.json
  package.json
Due: npx prettier --write

chore(igniteteams): update scripts
  package.json
Due: npx prettier --write

chore(igniteteams): add vscode extensions and settings
  .vscode/extensions.json
  .vscode/settings.json
Due: npx prettier --write

chore(igniteteams): add logo png
  assets/adaptive-icon.png
  assets/favicon.png
  assets/icon.png
  assets/logo.png
  assets/logo@2x.png
  assets/logo@3x.png
  assets/splash.png
Due: none

chore(igniteteams): add babel-plugin-module-resolver
  package-lock.json
  package.json
Due: npx prettier --write

chore(igniteteams): configure path mapping for babel and typescript
  App.tsx
  babel.config.js
  src/screens/Groups/index.tsx
  src/screens/Groups/styles.ts
  tsconfig.json
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

chore(igniteteams): add styled-components
  package-lock.json
  package.json
Due: npx prettier --write

chore(igniteteams): add base assets files again and move logo files to src/assets folder
  assets/adaptive-icon.png
  assets/favicon.png
  assets/icon.png
  assets/splash.png
  src/assets/logo.png
  src/assets/logo@2x.png
  src/assets/logo@3x.png
Due: none

refactor(igniteteams): remove theme folder path mapping
  babel.config.js
  tsconfig.json
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add theme
  App.tsx
  src/screens/Groups/index.tsx
  src/screens/Groups/styles.ts
  src/theme/index.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add type definition for styled-components
  src/@types/styled.d.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

chore(igniteteams): add expo-fonts
  App.tsx
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): add styled-components example to Groups screens
  src/screens/Groups/index.tsx
  src/screens/Groups/styles.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add Loading component
  App.tsx
  src/components/Loading/index.tsx
  src/components/Loading/styles.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add style to StatusBar
  App.tsx
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): add Header components and png types
  src/@types/png.d.ts
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/screens/Groups/index.tsx
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

chore(igniteteams): add phosphor-react-native and react-native-svg
  package-lock.json
  package.json
Due: npx prettier --write

feat(igniteteams): add BackButton to Header component
  src/components/Header/index.tsx
  src/components/Header/styles.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

chore(igniteteams): downgrade react-native-svg for better compatibility
  package-lock.json
  package.json
Due: npx prettier --write

feat(igniteteams): add Highlight component
  src/components/Highlight/index.tsx
  src/components/Highlight/styles.ts
  src/screens/Groups/index.tsx
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add GroupCard component
  src/components/GroupCard/index.tsx
  src/components/GroupCard/styles.ts
  src/screens/Groups/index.tsx
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add FlatList to groups
  src/screens/Groups/index.tsx
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): add ListEmpty component
  src/components/ListEmpty/index.tsx
  src/components/ListEmpty/styles.ts
  src/screens/Groups/index.tsx
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add Button component
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/screens/Groups/index.tsx
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add NewGroup screen
  App.tsx
  src/screens/NewGroup/index.tsx
  src/screens/NewGroup/styles.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add Input component
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/screens/NewGroup/index.tsx
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add theme color directly into Input component
  src/components/Input/index.tsx
  src/screens/NewGroup/index.tsx
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): refator styles to use css helper function from styled-components
  App.tsx
  src/components/Button/styles.ts
  src/components/GroupCard/styles.ts
  src/components/Highlight/styles.ts
  src/components/Input/styles.ts
  src/components/ListEmpty/styles.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add Players screen
  App.tsx
  src/screens/Players/index.tsx
  src/screens/Players/styles.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

chore(igniteteams): add @expo/vector-icons
  package-lock.json
  package.json
Due: npx prettier --write

feat(igniteteams): add ButtonIcon component into Players screen
  src/components/ButtonIcon/index.tsx
  src/components/ButtonIcon/styles.ts
  src/screens/Players/index.tsx
  src/screens/Players/styles.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add Filter component
  src/components/Filter/index.tsx
  src/components/Filter/styles.ts
  src/screens/Players/index.tsx
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add list of filters
  src/screens/Players/index.tsx
  src/screens/Players/styles.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add PlayerCard component
  src/components/PlayerCard/index.tsx
  src/components/PlayerCard/styles.ts
  src/screens/Players/index.tsx
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add ListEmpty component into PlayerCard FlatList
  src/screens/Players/index.tsx
Due: npx prettier --write, npx eslint --fix

refactor(igniteteams): organize imports
  App.tsx
  src/components/Button/index.tsx
  src/components/ButtonIcon/index.tsx
  src/components/Header/styles.ts
  src/components/PlayerCard/index.tsx
  src/screens/Groups/index.tsx
  src/screens/Players/index.tsx
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add better import and export organization components and screens
  App.tsx
  babel.config.js
  src/components/Highlight/styles.ts
  src/components/ListEmpty/styles.ts
  src/components/PlayerCard/index.tsx
  src/components/index.ts
  src/screens/Groups/index.tsx
  src/screens/NewGroup/index.tsx
  src/screens/Players/index.tsx
  src/screens/Players/styles.ts
  src/screens/index.ts
  tsconfig.json
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

chore(igniteteams): add @react-navigation/native react-native-screens react-native-safe-area-context
  package-lock.json
  package.json
Due: npx prettier --write

chore(igniteteams): add @react-navigation/native-stack
  package-lock.json
  package.json
Due: npx prettier --write

Path conditions:
  npx organize-imports-cli: any of: **/*.{js,ts}
  npx prettier --write: (any of: **/*.{js,jsx,ts,tsx,html,css,scss}) or (any of: **/*.{json,md})
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx,html,css,scss}
