Repository yuricavalini/igniteteams: changes, and which lint-staged commands are due for each by the changed paths.
All: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add routes and navigation structure
  App.tsx
  babel.config.js
  src/routes/app.routes.tsx
  src/routes/index.tsx
  tsconfig.json
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

fix(igniteteams): fix require cycle in PlayerCard component
  src/components/PlayerCard/index.tsx
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): add navigation types
  src/@types/navigation.d.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add buttons navigation
  src/components/Header/index.tsx
  src/screens/Groups/index.tsx
  src/screens/NewGroup/index.tsx
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): add SafeAreaView component
  src/screens/Groups/styles.ts
  src/screens/NewGroup/styles.ts
  src/screens/Players/styles.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add route params through route navigation
  src/screens/NewGroup/index.tsx
  src/screens/Players/index.tsx
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): add View component into Routes to avoid navigation glitch
  src/routes/index.tsx
Due: npx prettier --write, npx eslint --fix

chore(igniteteams): add async-storage
  package-lock.json
  package.json
Due: npx prettier --write

feat(igniteteams): add groups storage
  .eslintrc.json
  src/screens/Groups/index.tsx
  src/screens/NewGroup/index.tsx
  src/storage/group/groupCreate.ts
  src/storage/group/groupsGetAll.ts
  src/storage/storageConfig.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add AppError custom class
  src/screens/Groups/index.tsx
  src/screens/NewGroup/index.tsx
  src/storage/group/groupCreate.ts
  src/utils/AppError.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add Players screen navigtion
  src/screens/Groups/index.tsx
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): add storage configuration for player collection
  src/storage/player/PlayerStorageDTO.ts
  src/storage/player/playerAddByGroup.ts
  src/storage/player/playersGetByGroup.ts
  src/storage/storageConfig.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add functionality to add new player
  src/screens/Players/index.tsx
Due: npx prettier --write, npx eslint --fix

fix(igniteteams): add correct logic to avoid adding a player who already exists in a group
  src/storage/player/playerAddByGroup.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add filter by team to list players
  src/screens/Players/index.tsx
  src/storage/player/playersGetByGroupAndTeam.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add better usability by cleaning player input, removing focus from input after pressing submit or add button
  src/components/Input/index.tsx
  src/screens/Players/index.tsx
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): add remove player functionality
  src/screens/Players/index.tsx
  src/storage/player/playerRemoveByGroup.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add remove group functionality
  src/screens/Players/index.tsx
  src/storage/group/groupRemoveByName.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

feat(igniteteams): add loading indicator and correct some messages
  src/screens/Groups/index.tsx
  src/screens/Players/index.tsx
Due: npx prettier --write, npx eslint --fix

feat(igniteteams): organize imports
  App.tsx
  src/components/ButtonIcon/index.tsx
  src/components/GroupCard/index.tsx
  src/components/Header/index.tsx
  src/screens/Players/index.tsx
  src/storage/group/groupRemoveByName.ts
  src/storage/player/model/PlayerStorageDTO.ts
  src/storage/player/playerAddByGroup.ts
  src/storage/player/playerRemoveByGroup.ts
  src/storage/player/playersGetByGroup.ts
Due: npx organize-imports-cli, npx prettier --write, npx eslint --fix

Path conditions:
  npx organize-imports-cli: any of: **/*.{js,ts}
  npx prettier --write: (any of: **/*.{js,jsx,ts,tsx,html,css,scss}) or (any of: **/*.{json,md})
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx,html,css,scss}
